.chart-container {
  background: url("../images/GrassGreenTexture0003.jpg");
  background-size: 100% 20%;
  // margin-bottom: 300px;
}

.cancelled-project {
  background: url("../images/cgbug_Halloween_Rounded_Tombstone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}
