$green1: rgb(28, 100, 52);
$green1-2: rgb(33, 125, 56);
$green2: rgb(38, 150, 59);
$green2-3: rgb(51, 168, 59);
$green3: rgb(63, 185, 59);
$green4: rgb(127, 204, 39);

$light-gray: rgb(221, 221, 221);
$gray: rgb(179, 179, 179);

$orange: rgb(187,97,0);
$light-orange: rgb(255,136,8);

@mixin button-gradient($base-color: $spectrumblue) {
  $color-diff: #181818;
  $start-color: $base-color - $color-diff;
  background: linear-gradient(to top, $start-color 50%, $base-color);
  background-color: $start-color;

  &:hover {
    background: linear-gradient(to top, $base-color 40%, $start-color);
  }
}

.graveyard {
  background: $green2;
}

.chart-container {
  // background: url('../../images/GrassGreenTexture0003.jpg');
  // background-size: 100% 20%;
  // background: #00bb6a;
  clear: both;
  // padding-bottom: 300px;
}

.cancelled-project {
  // background: url('../../images/cgbug_Halloween_Rounded_Tombstone.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  cursor: zoom-in;
  margin: 10px 0;
  text-align: center;
  // width: 140px;

  h3 {
    font-size: 18px;
    line-height: 1em;
    margin: .5em auto 0;
    position: relative;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    top: 34%;
    width: 65%;

    .cost {
      font-size: 24px;
      line-height: 1em;
      margin: .3em auto;
    }
  }

  .rip, .death-date {
    color: rgb(90, 90, 90);
    position: absolute;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    top: 9%;
    width: 100%;
  }

  &.selected {
    .rip, .death-date, h3 {
      color: $orange;
      text-shadow: 0px 1px 0px rgba(255,136,8,.3), 0px -1px 0px rgba(255,57,0,.7);
    }
  }

  .death-date {
    margin-top: 1em;
  }
}

.legend {
  // float: right;
  // padding: 20px;
  // position: relative;
  border-bottom: 2px solid $light-gray;
  border-right: 2px solid $light-gray;
  color: $light-gray;
  height: 268px;
  margin-bottom: 20px;
  overflow: auto;
  width: 298px;

  h3 {
    clear: both;
    color: $light-gray;
    margin: 10px;
  }

  .legend-graphic {
    overflow: auto;
    position: relative;
  }

  .legend-text {
    position: absolute;
    right: 10px;
  }

  .legend-line {
    background-color: $light-gray;
    height: 1px;
    position: absolute;
    right: 10px;
    width: 100%;
  }

}

.failure-size-1 {
  background-image: url('../images/gravestone-1.svg');

  .rip {
    display: none;
  }

  .death-date {
    top: 0;
  }

  h3 {
    top: 32%;
  }
}

.failure-size-2 {
  background-image: url('../images/gravestone-2.svg');

  .rip {
    font-size: 1.1em;
    top: 7%; 
  }

  .death-date {
    top: 12%;
    font-size: 1.15em;
  }

  h3 {
    top: 40%;
  }
}

.failure-size-3 {
  background-image: url('../images/gravestone-3.svg');
  
  .rip {
    font-size: 1.3em;
    top: 5%; 
  }

  .death-date {
    font-size: 1.4em;
    top: 17%;
  }

  h3 {
    top: 44%;
  }
}

.failure-size-4 {
  background-image: url('../images/gravestone-4.svg');
  
  .rip {
    font-size: 1.15em;
    top: 25%;
  }

  .death-date {
    font-size: 1.2em;
    top: 26%;
  }

  h3 {
    top: 49%;
  }
}

.failure-size-5 {
  background-image: url('../images/gravestone-5.svg');
  
  .rip {
    font-size: 1.15em;
    top: 32%;
  }

  .death-date {
    font-size: 1.5em;
    top: 33%;
  }

  h3 {
    top: 76%;
  }
}

.mobile-view {
  h3 {
    font-size: 1.1em;
  }

  .legend {
    height: 235px;
    // max-width: 300px;
    width: 100%;
  }

  .cancelled-project {
    font-size: .75em;

    h3 .cost {
      font-size: 1.1em;
    }
  }

  .failure-size-1 {
    h3 {
      top: 10%;
    }
    .death-date {
      display: none;
    }
  }

  .tooltip h3 {
    font-size: 1.2em;
    line-height: 1.3em;
  }

  .tooltip p {
    font-size: 1.1em;
    line-height: 1.2em;
  }
}

.legend-project {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 112px;  
  margin: 20px 0 0 10px;
  width: 35px;
}

.tooltip {
  background: $light-gray;
  outline: 2px $gray solid;
  padding: 20px;
  position: absolute;

  h3 {
    margin: .5em 0;

    a {
      text-decoration: none;
    }
    a:hover {
      color: initial;
      border-bottom: $gray 1px solid;
    }
  } 

  .readmore {
    color: $light-orange !important;
    display: inline;
    font-size: 1em;
    margin-left: 1em;
    padding: 0;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 5px;

    &:hover {
      color: $light-orange;
      cursor: pointer;
    }
  }

  .times {
    height: 22px;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    a.button {
      @include button-gradient($light-orange);
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

@media print {
  .cancelled-project {
    outline: 1px solid black;
  }

  .legend-project {
    position: static !important;
  }

  .cancelled-project, 
  .legend,
  .rip, 
  .death-date, 
  .legend-text, 
  .legend-line {
    position: absolute !important;
  }

  .cancelled-project {
    -webkit-print-color-adjust: exact;
  }

  .tooltip {
    display: none;  
  }
}
