//////////////////
// Landing Page //
//////////////////

.tiles {
  margin: 0 -10px;
  overflow: auto;

  .item {
    display: inline;
    float: left;
    margin: 0 10px 1em;
    width: 300px;

    &:nth-child(odd) {
      clear: both;
    }
  }
}