// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

  &.parent {
    margin: 0 20px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

////////////
// CUSTOM //
////////////
$spectrumblue: #03a6e3;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$lightgray: #ddd;
$lightergray: #efefef;
$medgray: #bbb;
$gray: #808080;
$headergray: #5a5a5a;

$impact: #ff0500;
$green: #00bb6a;
$lightblue: #008db4;
$turquoise: #0fb3ff;
$lightturquoise: #c0ebff;
$violet: #4a0096;
$yellow: #f8cf04;

$greenminusblue: #da00da;
$greenminusviolet: #81ff91;
$violetminusblue: #e131e1;
$greenminusblueminusviolet: #ffff91;
$violetminusblueminusgreen: #ff37ff;

$brightfuscia: #eb0089;
$brightyellow: #fff600;
$brightblue: #00adff;
$brightgreen: #65f600;
$brightaqua: #04fffd;
$lightaqua: #b5fffe;


// $halfred: rgba(255, 0, 0, .5);
// $halfgreen: rgba(0, 255, 0, .5);
// $halfblue: rgba(0, 0, 255, .5);

$containerwidth: 940px;
$articlewidth: 620px;
$timelinewidth: 700px;
$summarywidth: $containerwidth - $timelinewidth - 24;
$border1: $black 2px solid;

/////////////////////
// Dev-Only Styles //
/////////////////////
.fake-body {
  margin: 0 auto;
  max-width: $containerwidth;

  &.normal {
    max-width: $articlewidth;
  }
}

.content-area {
  background: $white;
}

.dev-footer {
  background: $black;
  text-align: center;

  a, 
  a:visited {
    color: $white;
  }
}

@font-face {
  font-family: "Theinhardt-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Theinhardt/Theinhardt-Regular.otf");
}

@font-face {
  font-family: "Theinhardt-Regular";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/Theinhardt/Theinhardt-RegularIta.otf");
}

@font-face {
  font-family: "Theinhardt-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Theinhardt/Theinhardt-Medium.otf");
}

@font-face {
  font-family: "Theinhardt-Medium";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/Theinhardt/Theinhardt-MediumIta.otf");
}

@font-face {
  font-family: "Theinhardt-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Theinhardt/Theinhardt-Bold.otf");
}

@font-face {
  font-family: "Theinhardt-Bold";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/Theinhardt/Theinhardt-BoldIta.otf");
}

/////////////////
// Real Styles //
/////////////////

// ALL CHARTS

.chart-container {
  font-family: "Theinhardt-Regular", Helvetica, Arial, sans-serif;
  font-size: .9em;
  max-width: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: $black;
}

.y.axis .tick:first-of-type {
  display: none;
}

.straight-line, 
.legend-line {
  shape-rendering: crispEdges;
  stroke: $medgray;
}

@media print {
  .article-detail iframe {
    display: block !important;
  }

  .info-box {
    position: static;
  }

  a.fail-hed-link:after {
    content: none !important;
  }

  .fail-stats {
    display: block !important;
    position: static !important;
  }

  .times a.button {
    display: none !important;
  }

  .times time.date {
    padding: 0;
  }

  .small-instructs {
    display: none!important;
  }

  .data-point.too-big {
    display: none!important;
    // fill-opacity: 0 !important;
  }

  // iframe svg {
  //   page-break-after: always;
  //   page-break-before: avoid;
  //   page-break-inside: avoid;
  // }
}


// TIMELINE CHART
// .label {
//   text-transform: capitalize;
// }

@mixin total-button-gradient($base-color: $green, $start-color: $black) {
  background: linear-gradient(to left, $base-color 5%, $start-color);
  background-color: $base-color;
}

// .timeline.chart-container svg:not(.legend-base) {
//   margin-top: -30px;
// }

// Totals Section
.totals {
  overflow: auto;
  padding-bottom: 1em;

  p {
    font-size: 1.6em;
    margin: 0 20px;

    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      font-family: "Theinhardt-Regular", Helvetica, Arial, sans-serif; 
      margin-bottom: 10px;
    }
  }  
  
  .total {
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: contain;
    color: $white;
    cursor: pointer;
    float: left;
    font-family: "Theinhardt-Bold", Helvetica, Arial, sans-serif; 
    height: 105px;
    margin-right: 20px;
    text-align: left;
    // text-shadow: $gray 1px 1px 3px;
    width: 300px;

    &.selected {
      background: $black;
      // outline: 3px $white inset;
      // outline-offset: -3px;
      //-webkit-box-shadow: inset 0 0 120px rgba(245, 245, 245, 0.8);
      //-moz-box-shadow:    inset 0 0 120px rgba(245, 245, 245, 0.8);
      //box-shadow:         inset 0 0 120px rgba(245, 245, 245, 0.8);
    }
  }

  .total:last-child {
    margin-right: 0;
  }

  .money {
    background: $green;
    // background-image: url('../images/iconmonstr-user-14-icon.svg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: contain;

    &.selected {
      outline: 3px $green solid;
      outline-offset: -3px;
    }

    &:hover {
      @include total-button-gradient($green);
      outline: none;
    }
  }

  .time {
    background: $lightblue;
    // background-image: url('../images/iconmonstr-time-3-icon.svg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: contain;

    &.selected {
      outline: 3px $lightblue solid;
      outline-offset: -3px;
    }

    &:hover {
      @include total-button-gradient($lightblue);
      outline: none;
    }
  }

  .people {
    background: $violet;
    // background-image: url('../images/iconmonstr-banknote-5-icon.svg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: contain;

    &.selected {
      outline: 3px $violet solid;
      outline-offset: -3px;
    }

    &:hover {
      @include total-button-gradient($violet);
      outline: none;
    }
  }
}

p.fail-stat {
  font-size: 2.075em;
  margin-bottom: .1em;
  margin-top: .2em;
  text-transform: uppercase;
}

p.instructions, 
.instructions {
  font-family: "Theinhardt-Bold", Helvetica, Arial, sans-serif;

  .optional {
    font-family: "Theinhardt-Regular", Helvetica, Arial, sans-serif;
  }

  .ui-label {
    font-family: "Theinhardt-Bold", Helvetica, Arial, sans-serif;
  }

  .instructs-list {
    margin: 0;
  }
}

.small-instructs {
  display: block;
  font-family: "Theinhardt-Regular", Helvetica, Arial, sans-serif;
  font-size: .9em;
  font-style: italic;
  // margin-top: -.9em;
  // margin-left: 1em;

  // &:before {
  //   content: '← ';
  // }
}

.instructions {
  margin: 0 0 0 20px;
}

// Totals Intro
.totals-intro {
  // padding: .5em 0 1em;
}

// Chart Area
.data-point, 
.legend-circle {
  cursor: pointer;
  // fill-opacity: .2;  
  fill-opacity: .3;
  stroke: $black;
  stroke-width: .5;
}

// .legend-text {
//   text-anchor: end;
// }

.too-big,
.too-small {
  cursor: default;
  stroke: none;
}

.money {
  .data-point, 
  .legend-circle {
    fill: $green;  
  }
}

.time {
  .data-point, 
  .legend-circle {
    fill: $lightblue;  
  }
}

.people {
  .data-point, 
  .legend-circle {
    fill: $violet;  
  }
}

.money.time.data-point {
  fill: $brightaqua;
  fill-opacity: .4;
}

.money.people.data-point {
  fill: $brightblue;
  fill-opacity: .4;
}

.time.people.data-point {
  fill: $brightfuscia;
  fill-opacity: .4;
}

.money.time.people.data-point {
  fill: $impact;
  fill-opacity: .4;
}

.legend-circle {
  cursor: default;
  // stroke: $medgray;
  // stroke-width: 1;
}

.data-point.active {
  fill-opacity: .8;
  stroke: $impact;
  stroke-width: 2;
}

.data-point.hovered {
  fill-opacity: .5;
}

h3.timeline-section-header {
  border-bottom: $headergray 2px solid;
  border-top: $headergray 2px solid;
  font-family: "Theinhardt-Bold", sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  margin-top: 3em;
  padding: .3em 0;
  text-transform: uppercase;
}

// Info Box Area
.info-box {
  .fail-stat {
    color: $impact;
    margin: 1em 0 .5em;

    &.small {
      font-size: 1.15em;
      margin-top: 0;
    }
  }

  .readmore {
    margin-left: 1em;
    margin-top: 0;
    padding: 0;
  }

  .sources { 
    font-family: "Theinhardt-Regular", sans-serif;
    font-style: italic;
    // margin-left: 1em;
  }

  // &.timeline-chart {
  //   position: absolute;
  //   right: 0;
  //   top: 160px;
  //   width: 220px;
  // }

  &.timeline-chart {
    .isotope-item {
      margin-bottom: 30px;
      margin-left: 20px;
    }

    .fail-stats {
      font-family: "Theinhardt-Medium", Helvetica, Arial, sans-serif; 
      position: absolute;
      right: 0;
      text-align: left;
      top: 134px;
      width: 140px;
    }
  }

  &.timeline-chart {
    overflow: auto;
    
    .legend-heading {
      text-transform: uppercase;
    }

    .legend-line {
      stroke: $black;
      stroke-opacity: 0.5;
    }

    .legend-base {
      float: right;
      height: 150px;
      width: 220px;
    }

    // .fail-head {
    //   margin-top: .5em;
    // }

    .fail-stats {
      display: inline-block;
      // float: right;
      // height: 150px;
      // // margin-top: -42px;      // text-align: right;
      // margin-top: 0;
      margin: .5em 0;
      position: static;
      // text-align: right;
      vertical-align: bottom;
      width: auto;
    }

    .fail-stat {
      color: $black;
      display: inline;
      font-family: "Theinhardt-Medium", Helvetica, Arial, sans-serif; 
      font-size: 18px;
      margin-top: 0;
      text-transform: none;

      &:not(:last-child) {
        margin-right: 10px;
        &:after {
          content: ',';
        }
      }
      &:first-child:after {
        content: none;
      }
    }

    .conversion {
      // display: block;
      font-size: .7em;
    }

    .current {
      color: $impact;
      font-family: "Theinhardt-Bold", Helvetica, Arial, sans-serif; 
      font-size: 2em;
      margin: .7em 0;
    }

    .description {
      margin: 0 0 0 20px;
    }
  }

  &.replacements-chart {
    left: 135px;
    position: absolute;
    top: 45px;
    width: 380px;
    
    .description {
      margin: 0;
    }

    .fail-stat {
      color: $black;
      font-family: "Theinhardt-Regular", Helvetica, Arial, sans-serif; 
      font-size: 18px;
      text-transform: none;
    }

    .fail-hed, 
    .number {
      font-family: "Theinhardt-Bold", Helvetica, Arial, sans-serif;
      font-weight: bold;
    }

    .readmore {
      display: inline;
      font-size: 1em;
    }

    .source {
      display: block;
      font-size: .9em;
      font-style: italic;
      margin: 0;
    }
  }

  &.failure-chart {
    padding-bottom: 1em;
  }
}

// #chart .timeline-chart .description:not(.hidden),
// #chart .timeline-chart .instructions:not(.hidden) {
//   min-height: 150px;
// }

// .timeline .y.label {
//   cursor: pointer;
//   user-select: none;
// }

.mobile-view {
  .replacements-chart.info-box {
    left: default;
    position: static;
    top: default;
    width: 100%; 
  }

  .timeline svg {
    margin-top: -30px;
  }

  .timeline .data-point {
    stroke: $gray;

    &.active {
      stroke: $impact;
    }

    &.too-big,
    &.too-small {
      cursor: default;
      stroke: none; }
  }

  .timeline-chart {
    .legend-base {
      display: none;
    }

    .description,
    div.instructions {
      margin-left: 0;
    }

    .instructions p {
      font-size: 16px;
      line-height: 1.4em;
      margin-bottom: 0;
    }

    .times {
      display: block;
      text-align: center;
    }

    .small-instructs {
      display: block;
      margin-left: 0;
      text-align: center;

      // &:before {
      //   content: none;
      // }

      // &:before, 
      // &:after {
      //   content: "↑"
      // }
    }

    .fail-stats {
      display: block;
      float: none;
      height: auto;
      margin: .5em auto 1em;
      position: static;
      text-align: center;
      width: auto;
    }

    .fail-stat {
      display: inline-block;
      font-size: 16px;
      line-height: .5em;
      margin-right: 10px;

      // &:not(:last-child):after {
      //   content: ","
      // }

      &.current {
        font-size: 18px;
      }
    }
  }

  .status-base {
    display: none;
  }

  .selectors {
    margin: 0 auto;
    text-align: left;
    top: 0;
  }
}

.times {
  display: inline-block;
  margin-bottom: .5em;
  margin-right: 10px;
  vertical-align: bottom;

  a.button {
    display: inline;
    font-size: 13px;
    padding: .5em .7em;
  }

  .date {
    background-color: $lightgray;
    color: $black;
    display: inline;
    // min-width: 115px;
    padding: .5em .7em;
    // text-align: center;
  }
}

.nav-buttons {
  margin-left: 20px;

  .button {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

// @mixin middle-gradient($base-color: $spectrumblue) {
//   $color-diff: #181818;
//   $mid-color: $base-color - $color-diff;
//   background: linear-gradient(to right, $base-color, $mid-color 50%, $base-color);
//   background-color: $base-color;
// }

.zoom-controls {
  // .zoom-bg {
  //   // fill: $lightgray;
  //   @include middle-gradient($lightgray);
  // }
  
  .zoom-bg {
    fill-opacity: .8;
  }

  .zoom {
    cursor: pointer;
  }

  text {
    fill: $white;
  }

  .inactive {
    cursor: default;
    opacity: .3;
  }
}

// .number {
//   font-size: 1.45em;
// }

// Selection Buttons
.category-selection-container {
  // clear: both;
  // left: 20px;
  // position: absolute; 
  float: left;
}

.select-category {
  text-align: right;

  button {
    margin-left: 5px;
  }
}

.buttons {
  margin-bottom: 0;
  text-align: center;

  a.button {
    float: none;
    margin: 0 5px;
  }
}

.button {
  cursor: pointer;
}

.share-buttons {
  text-align: right;
  .share.button {
    background-repeat: no-repeat;
    background-size: contain!important;
    height: 30px;
    padding: 0;
    width: 30px;
  }

  &.sub-chart {
    margin-bottom: 14px;
    margin-top: -46px;
    .share.button {
      height: 25px;
      width: 25px;
    }
  }
}



// Selection Sizes
.selectors {
  clear: both;
  margin: -30px 15px 0;
  position: relative;
  text-align: right;
  top: 30px;

  >div {
    display: inline-block;
    margin: 0 5px;
    position: static;
  }
}

.current-status {
  cursor: default;

  .details {
    display: block;
  }
}

// .size-selection-container {
//   clear: both;
//   position: absolute;
//   right: 20px;
//   text-align: right;
// }

// .range-selection-container {
//   clear: both;
//   position: absolute;
//   right: 200px;
//   text-align: right;
// }




//////////////////////
// Complexity Chart //
//////////////////////
// #complexity {
//   background-image: url("../images/complexity.png");
//   background-repeat: no-repeat;
//   min-height: 392px;
// }

.complexity-chart .axis-label {
  font-size: 1.2em;
}

.marker {
  fill: $impact;

  &.to-date {
    fill: $yellow;
  }
}

.datapoint {
  opacity: .4;

  &:not(.active) {
    cursor: pointer;
  }

  &.hovered {
    opacity: 1;
  }

  &.active {
    opacity: 1;

    .line {
      stroke: $black;
      stroke-width: 3px;
    }
  }

  .line {
    stroke: $black;
    stroke-width: 2px;
  }
}

.start {
  fill: $green;
  stroke: none;
}

.end {
  fill: $impact;
  stroke: none;
}

.to-date {
  fill: $yellow;
  stroke: none;
}

.long-description {
  float: right;
  width: 300px;

  div {
    font-size: 1.1em;
  }
}

/////////////////////
// Failures Charts //
/////////////////////
.project-selector {
  // display: block;
  margin: 0 auto;
  max-width: 100%;

  .placeholder {
    display: none;
  }
}

.project-switch {
  text-align: center;

  .instructions {
    margin: 0;
  }
}

.chart-title {
  margin-bottom: .5em;
  text-align: center;
}

.initline {
  .line {
    fill: none;
    opacity: .7;
    shape-rendering: crispEdges;
    stroke: $black;
    stroke-dasharray: 5, 5;
    stroke-width: 2px;
  }
}

.area-labels,
.spent-labels {
  text-anchor: end;
}

.launch .projection:first-child {
  shape-rendering: crispEdges;
  stroke: $black;
  stroke-width: 1px;
}

.area1 {
  .area, 
  .projection {
    fill: $lightturquoise;
    // opacity: .2;
    opacity: .6;
    stroke: $gray;
  }

  .projection.payroll-est {
    fill: $lightaqua;
  }



  .selected .total,
  .selected .tot-est,
  .selected .annual-est,
  .selected .maint-est {
    fill: $turquoise;
    // opacity: .4;
    opacity: 1;
  }

  .selected .dev,
  .selected .dev-est {
    fill: $turquoise;
    opacity: 1;
    // opacity: .4;
  }

  .selected .payroll,
  .selected .payroll-est {
    fill: $brightaqua;
    opacity: 1;
    // opacity: .4;
  }

  .initial .total,
  .initial .tot-est,
  .initial .annual-est,
  .initial .maint-est {
    fill: $brightyellow;
    opacity: .8;
  }

  .initial .dev,
  .initial .dev-est {
    // fill: $turquoise;
    // opacity: .4;
    fill: $brightyellow;
    opacity: .8;
  }

  .initial .payroll,
  .initial .payroll-est {
    // fill: $turquoise;
    // opacity: .4;
    fill: $brightgreen;
    opacity: .8;
  }
}

.area.spent {
  fill: $brightfuscia;
  opacity: .6;
  stroke: none;
}


//////////
// Quiz //
/////////
.quiz {
  font-family: "Theinhardt-Regular", Helvetica, Arial, sans-serif;
  font-size: 18px;

  .instructions {
    float: left;
    margin-left: 0;
    margin-right: 20px;
    max-width: 620px;
  }

  .quiz-controls {
    float: left;
    text-align: right;
    width: 300px;
  }

  .quiz-header {
    overflow: auto;
  }

  .quiz-heading {
    font-family: "Theinhardt-Medium", Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 10px 0;
    text-transform: uppercase;
  }
}

.answer>.cause,
.sumtext,
.wrong {
  border: 3px solid $black;
  margin: 10px 0;
  padding: 20px;
}

.answer {
  display: block;

  &.incorrect .cause {
    background-color: $impact;
  } 
}

.causes ul {
  margin: 0;
  padding: 0;
}

.wrong {
  display: none;
}

.answers > li {
  box-sizing: border-box;
}

.answer>.cause,
.sumtext {
  background: $lightgray;
  display: block;
  text-align: center;
}

.impact-summary {
  border: 0;
  box-sizing: initial;
  display: block;
  margin: 10px 0;
  padding: 20px;
  text-align: center;

  &.correct {
    border: 3px solid $black;
    box-sizing: border-box;
  }
}

.clickable {
  cursor: pointer;
}

.sumtext>.cause {
  background: $yellow;
  display: inline;
}

.sumtext a.readmore {
  color: $lightgray !important;
  display: inline;
  font-size: 1em;
  margin-left: 1em;
  padding: 0;
}

.hidden,
.answer .effect {
  display: none;
}

.answer.correct .sumtext, 
.impact-summary.correct {
  background-color: $green;
}


//////////////////
// Old Timeline //
//////////////////
// .timeline {
//   float: right;
//   margin-bottom: 160px;
//   width: $timelinewidth;
// }

// .summary {
//   border: $border1;
//   clear: none;
//   float: right;
//   height: auto;
//   padding: 6px 10px 10px;
//   text-align: left;
//   width: $summarywidth;

//   h3, 
//   p {
//     margin: 0 auto;
//   }

//   p em {
//     font-size: .9em;
//   }

//   .empty {
//     border: 0;
//   }

//   .impact {
//     color: $impact;
//   }

//   .timeline-nav {
//     border-top: $black 2px solid;
//     margin: 10px -10px;
//     overflow: auto;
//     padding: 5px 10px 0;
//     text-align: center;
//   }
// }

// .incident-date {
//   cursor: pointer;

//   .government {
//     color: blue;
//     fill: blue;
//     stroke: blue;
//   }

//   .commercial {
//     color: green;
//     fill: green;
//     stroke: green;
//   }

//   .other {
//     color: black;
//     fill: black;
//     stroke: black;
//   }

//   .customs {
//     fill: orange;
//     stroke: white;
//   }

//   .law {
//       fill: darkred;
//       stroke: white;
//   }

//   .defense {
//       fill: red;
//       stroke: white;
//   }

//   .treasury {
//       fill: yellow;
//       stroke: white;
//   }

//   .IT {
//       fill: darkgreen;
//       stroke: white;
//   }

//   .selected {
//     stroke: darkgray;
//   }
// }

// .prev-incident, .prev-incident-cat {
//   display: block;
//   float: left;
//   width: 30%;
// }
// .next-incident, .next-incident-cat {
//   display: block;
//   float: right;
//   width: 30%;
// }


/////////////////////////////
// Spectrum missing styles //
/////////////////////////////

// Reworked the Spectrum button gradient LESS mixin
// Had to change "top" -> "to top"

@mixin button-gradient($base-color: $spectrumblue) {
  $color-diff: #181818;
  $start-color: $base-color - $color-diff;
  background: linear-gradient(to top, $start-color 50%, $base-color);
  background-color: $start-color;

  &:hover {
    background: linear-gradient(to top, $base-color 40%, $start-color);
  }
}

a.button {
  @include button-gradient($spectrumblue);
}

.button.inactive {
  @include button-gradient($medgray);
}
