// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

  &.parent {
    margin: 0 20px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

////////////
// CUSTOM //
////////////
$spectrumblue: #03a6e3;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$impact: rgb(255, 0, 0);
$lightgray: #ddd;
$lightergray: #efefef;
$medgray: #bbb;
$gray: #808080;

$halfred: rgba(255, 0, 0, .5);
$halfgreen: rgba(0, 255, 0, .5);
$halfblue: rgba(0, 0, 255, .5);

$containerwidth: 940px;
$articlewidth: 620px;
$timelinewidth: 700px;
$summarywidth: $containerwidth - $timelinewidth - 24;
$border1: $black 2px solid;

/////////////////////
// Dev-Only Styles //
/////////////////////
.container {
  margin: 0 auto;
  max-width: $containerwidth;

  &.normal {
    max-width: $articlewidth;
  }
}

.content-area {
  background: $white;
}

.dev-footer {
  text-align: center;

  a, 
  a:visited {
    color: $white;
  }
}

@font-face {
  font-family: 'Theinhardt-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Theinhardt/Theinhardt-Medium.otf');
}

@font-face {
  font-family: 'Theinhardt-Medium';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/Theinhardt/Theinhardt-MedilumIta.otf');
}

/////////////////
// Real Styles //
/////////////////

// ALL CHARTS

.chart-container {
  position: relative;
}

.hidden {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: $black;
}

.y.axis .tick:first-of-type {
  display: none;
}

.straight-line, 
.legend-line {
  shape-rendering: crispEdges;
  stroke: $medgray;
}


// TIMELINE CHART
// .label {
//   text-transform: capitalize;
// }

// Totals Section
.totals {

  overflow: auto;

  p {
    margin: 0;
  }  
  
  .total {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: $white;
    cursor: pointer;
    float: left;
    height: 110px;
    margin-right: 20px;
    text-align: center;
    text-shadow: $gray 1px 1px 3px;
    width: 300px;

    &.selected {
      outline: 3px $white inset;
      outline-offset: -3px;
      //-webkit-box-shadow: inset 0 0 120px rgba(245, 245, 245, 0.8);
      //-moz-box-shadow:    inset 0 0 120px rgba(245, 245, 245, 0.8);
      //box-shadow:         inset 0 0 120px rgba(245, 245, 245, 0.8);
    }
  }

  .total:last-child {
    margin-right: 0;
  }

  .people {
    background: $halfblue;
    background-image: url('../images/iconmonstr-user-14-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .time {
    background: $halfred;
    background-image: url('../images/iconmonstr-time-3-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .money {
    background: $halfgreen;
    background-image: url('../images/iconmonstr-banknote-5-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

p.fail-stat {
  font-size: 2em;
  margin: .4em 0;
}

// Totals Intro
.totals-intro {
  padding: 1em 0;
}

// Chart Area
.data-point, 
.legend-circle {
  cursor: pointer;
  fill: $spectrumblue;
  fill-opacity: .2;  
}

.legend-circle {
  stroke: $gray;
  stroke-width: 1;
}

.data-point.active {
  fill-opacity: .8;
  stroke: $impact;
  stroke-width: 2;
}

// Info Box Area
.info-box {
  position: absolute;
  right: 0;
  top: 160px;
  width: 220px;

  .fail-stat {
    color: $impact;
    margin: 1em 0 .5em;
  }

  .readmore {
    margin-top: 0;
  }
}

.number {
  font-size: 1.45em;
}

// Selection Buttons
.select-category {
  text-align: right;

  button {
    margin-left: 5px;
  }
}

.buttons {
  margin-bottom: 0;
  text-align: center;

  a.button {
    cursor: pointer;
    float: none;
    margin: 0 5px;
  }
}


///////////////////
// Systems Chart //
///////////////////

.marker {
  fill: $impact;
}

/////////////////////
// Failures Charts //
/////////////////////

.area1 {
  path.area {
    fill: lightgray;
    opacity: .5;
  }

  g:first-child > path.total  {
    fill: lightgreen;
    opacity: .6;
  }

  g:first-child > path.dev  {
    fill: darkgreen;
    opacity: .6;
  }

  g:last-child > path.total {
    fill: yellow;
    opacity: .6;
  }

  g:last-child > path.dev {
    fill: orange;
    opacity: .6;
  }
}

.area2 {
  path.area {
    fill: darkgray;
    opacity: .4;
  }

  g:first-child > path.area {
    fill: darkgreen;
    opacity: .5;
  }

  g:last-child > path.area {
    fill: orange;
    opacity: .7;
  }
}

//////////////////
// Old Timeline //
//////////////////
// .timeline {
//   float: right;
//   margin-bottom: 160px;
//   width: $timelinewidth;
// }

// .summary {
//   border: $border1;
//   clear: none;
//   float: right;
//   height: auto;
//   padding: 6px 10px 10px;
//   text-align: left;
//   width: $summarywidth;

//   h3, 
//   p {
//     margin: 0 auto;
//   }

//   p em {
//     font-size: .9em;
//   }

//   .empty {
//     border: 0;
//   }

//   .impact {
//     color: $impact;
//   }

//   .timeline-nav {
//     border-top: $black 2px solid;
//     margin: 10px -10px;
//     overflow: auto;
//     padding: 5px 10px 0;
//     text-align: center;
//   }
// }

// .incident-date {
//   cursor: pointer;

//   .government {
//     color: blue;
//     fill: blue;
//     stroke: blue;
//   }

//   .commercial {
//     color: green;
//     fill: green;
//     stroke: green;
//   }

//   .other {
//     color: black;
//     fill: black;
//     stroke: black;
//   }

//   .customs {
//     fill: orange;
//     stroke: white;
//   }

//   .law {
//       fill: darkred;
//       stroke: white;
//   }

//   .defense {
//       fill: red;
//       stroke: white;
//   }

//   .treasury {
//       fill: yellow;
//       stroke: white;
//   }

//   .IT {
//       fill: darkgreen;
//       stroke: white;
//   }

//   .selected {
//     stroke: darkgray;
//   }
// }

// .prev-incident, .prev-incident-cat {
//   display: block;
//   float: left;
//   width: 30%;
// }
// .next-incident, .next-incident-cat {
//   display: block;
//   float: right;
//   width: 30%;
// }


/////////////////////////////
// Spectrum missing styles //
/////////////////////////////

// Reworked the Spectrum button gradient LESS mixin
// Had to change "top" -> "to top"

@mixin button-gradient($base-color: $spectrumblue) {
  $color-diff: #181818;
  $start-color: $base-color - $color-diff;
  background: linear-gradient(to top, $start-color 50%, $base-color);
  background-color: $start-color;

  &:hover {
    background: linear-gradient(to top, $base-color 40%, $start-color);
  }
}

.button.inactive {
  @include button-gradient($medgray);
}
